@{
    ViewBag.Title = "جزئیات گروه";
}

@section breadcrumb {
    <!-- Start breadcrumb -->
    <nav page-breadcrumbs="@ViewBag.Breadcrumbs"></nav>
    <!-- End breadcrumb -->
}

<h1>This is the view of Admin/Groups/Delete</h1>