@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="دیجی کالا, DigiKala, مدیریت دیجی کالا" />
    <meta name="description" content="مدیریت سایت دیجی کالا" />
    @*<meta name="author" content="ADdy2142" />*@
    @*<meta http-equiv="refresh" content="30" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/admin.css" />

    <title>ورود به پنل مدیریت - DigiKala</title>
</head>
<body dir="rtl">
    <!-- Start main content -->
    <div class="container-fluid full-height">
        <div class="page-content w-50">
            <div class="card shadow-sm rounded-lg border-0">
                <div class="card-header border-bottom-0">
                    <h3 class="text-right text-info m-0 py-2 account-card-header">ورود به پنل مدیریت</h3>
                </div>
                <div class="card-body">
                    <form asp-area="Admin" asp-controller="Account" asp-action="SignIn" asp-route-returnUrl="@ViewBag.ReturnUrl" asp-antiforgery="true" method="post">
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="form-group">
                                <p class="text-right text-danger">@ViewBag.ErrorMessage</p>
                            </div>
                        }
                        <div class="form-group">
                            <label for="username" class="d-block text-right text-muted">نام کاربری یا ایمیل</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="d-block text-right text-muted">کلمه عبور</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-group form-check custom-checkbox">
                            <input type="checkbox" class="form-check-input" id="remember-me" name="rememberMe" value="true" checked="checked">
                            <label class="form-check-label text-muted" for="remember-me">مرا به خاطر بسپار</label>
                        </div>
                        <button type="submit" class="btn btn-success shadow-sm">ورود</button>
                        <a href="/" class="btn btn-light shadow-sm float-right">بازگشت به صفحه اصلی</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End main content -->
    <!-- Start scripts -->
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin.js"></script>
    <!-- End scripts -->
</body>
</html>