# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ProjectDigiKala.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\ProjectDigiKala\.idea\.idea.ProjectDigiKala\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
