@{
    ViewBag.Title = "مشخصات کالا";
}

@section breadcrumb {
    <!-- Start breadcrumb -->
    <nav page-breadcrumbs="@ViewBag.Breadcrumbs"></nav>
    <!-- End breadcrumb -->
}

<h1>This is the view of Admin/Products/Details</h1>